@font-face {
    src: url("../fonts/Roboto-Regular.woff") format('woff');
    font-family: 'Roboto';
}

.container {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    margin-top: 50px;
    font-family: 'Roboto', serif;
}

.calories {
    width: 250px;
    border: 2px solid #F29279;
    text-align: center;
    border-right: none;
    border-radius: 20px 0 0 20px;
    /* border-radius: 20px; */
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
}

.container h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 25px;
}
